@font-face {
	font-family: "Smokum";
	font-weight: 400;
	font-style: normal;
	src: url("/assets/font/Smokum/Smokum-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	src: url("/assets/font/roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
	src: url("/assets/font/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
	font-family: "Calibri";
	font-weight: 400;
	font-style: normal;
	src: url("/assets/font/calibri/calibri-regular.ttf") format("truetype");
}
