@use "./partials" as *;
@use "./partials/mixins" as *;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	&__pretitle {
		background-color:  rgb(97, 23, 23);
		color: white;
		font-size: 2rem;
	}

	&__title {
		font-family: Calibri;
		font-size: 5rem;
		color: red;
	}

	&__image {
		box-sizing: border-box;
		max-height: 18.75rem;
		max-width:fit-content;
	}
}

.instructions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	align-items: center;

	@include tablet {
		flex-direction: row;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: left;
		gap: 1rem;
	}

	&__list-items {
		@include use-font("Roboto");
	}

	&__next-pg {
		padding: 1rem 5rem;
		font-weight: 700;
	 }
}
