.header {
  display: flex;
  justify-content: center;
  font-family: fantasy;
  color: red;
  font-size: 5rem;
}

.main {
  position: relative;
}
.main__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  border: 1rem solid black;
}
.main__win-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 0.25rem solid black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.main__win-alert--hide {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  visibility: hidden;
}
.main__win-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  width: 90%;
  min-height: 500px;
  padding: 1rem;
  box-shadow: 6px 14px 45px 0px rgba(0, 0, 0, 0.75);
}
.main__win-content--win {
  background-color: rgb(139, 229, 139);
}
.main__win-content--lose {
  background-color: rgb(250, 184, 184);
}
.main__content-image {
  text-align: center;
  width: 200px;
  height: auto;
  aspect-ratio: 1;
}
.main__content-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__win-cta-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}
.main__win-cta {
  padding: 1rem;
  width: 100%;
}

.synopsis-gen {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  border: 1rem solid gold;
  min-height: 10rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .synopsis-gen {
    padding: 4rem;
  }
}

.quiz__answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid;
  font: 700;
  padding: 1rem;
}
.quiz__answer--hidden {
  visibility: hidden;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hint__container {
  position: relative;
  border: 1rem solid gold;
}
.hint__background-image-container {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hint__background-image-container {
    height: 50vh;
  }
}
.hint__background-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 768px) {
  .hint__background-image {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.hint__background-image--hidden {
  visibility: hidden;
}
.hint__genre {
  position: absolute;
  bottom: -1rem;
  left: -3.5rem;
  min-width: 100px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem dotted white;
  background-color: black;
  color: gold;
  font-size: larger;
  font-weight: bold;
}
.hint__genre--hidden {
  visibility: hidden;
}
.hint__year {
  position: absolute;
  bottom: -1rem;
  right: -3.5rem;
  min-width: 100px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.25rem dotted white;
  background-color: black;
  color: gold;
  font-size: larger;
  font-weight: bold;
}
.hint__year--hidden {
  visibility: hidden;
}

.input-box__form {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  width: 100%;
}
.input-box__label {
  display: flex;
  justify-content: center;
  width: 100%;
}
.input-box__input {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}/*# sourceMappingURL=trivia-pg.css.map */